extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Applicationid = toShow._id 
    - let App_Name = toShow.App_Name 
    - let App_Company = toShow.App_Company 
    - let App_Size = toShow.App_Size 
    - let App_Rating = toShow.App_Rating 
    - let App_Category = toShow.App_Category 
    div 
      div.row 
        div(class='ApplicationAttr mr-3') Application ID is: 
        div #{Applicationid} 
      div.row 
        div(class='ApplicationAttr mr-3') Application Name is: 
        div #{App_Name} 
      div.row 
        div(class='ApplicationAttr mr-3') Application Company is: 
        div #{App_Company} 
      div.row 
        div(class='ApplicationAttr mr-3') Application Size is: 
        div #{App_Size} 
      div.row 
        div(class='ApplicationAttr mr-3') Application Rating is: 
        div #{App_Rating} 
      div.row 
        div(class='ApplicationAttr mr-3') Application Category is: 
        div #{App_Category} 